body {
	margin: 0 auto; 
	width: 80%;
}

#snake-playground {
	margin: 0 auto;
	width:400px;
	text-align: center;
	height:550px;
}

#banner{
	margin:0 auto;
	padding-top: 10px;
}

h1{
	text-align: center;
	font-family: "Arial";
}
h2{
	text-align: center;
	font-family: "Arial";
	margin: 20px;
}

#thescore{
	margin-top:40px;
}

a{color:#000080;}
a:hover{color:black;}

p {
	font-family: "Arial Sans Typewriter"; 
	font-size: 12px;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

#instruction, #thescore{
	font-family: "Arial Sans Typewriter";
	font-size:10px;
}
